aiogram==2.20
aiohttp==3.8.1
aiosignal==1.2.0
amqp==5.1.1
anyio==3.5.0
asgiref==3.5.0
async-timeout==4.0.2
asyncpg==0.25.0
attrs==21.4.0
Babel==2.9.1
billiard==3.6.4.0
celery==5.2.7
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==37.0.1
defusedxml==0.7.1
Django==4.0.3
django-jazzmin==2.5.0
django-rosetta==0.9.8
django-templated-mail==1.1.1
djangorestframework==3.13.1
djangorestframework-simplejwt==4.8.0
djoser==2.1.0
dnspython==2.2.1
drf-yasg==1.20.0
email-validator==1.1.3
environs==9.5.0
fastapi==0.79.0
frozenlist==1.3.0
h11==0.13.0
httptools==0.4.0
idna==3.3
inflection==0.5.1
itsdangerous==2.1.2
itypes==1.2.0
Jinja2==3.1.1
kombu==5.2.4
MarkupSafe==2.1.1
marshmallow==3.16.0
multidict==6.0.2
numpy==1.23.1
oauthlib==3.2.0
orjson==3.6.8
packaging==21.3
pandas==1.4.3
Pillow==9.1.0
polib==1.1.1
prompt-toolkit==3.0.30
psycopg2==2.9.3
psycopg2-binary==2.9.3
pycparser==2.21
pydantic==1.9.0
PyJWT==2.3.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.20.0
python-multipart==0.0.5
python3-openid==3.2.0
pytz==2022.1
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
six==1.16.0
sniffio==1.2.0
social-auth-app-django==4.0.0
social-auth-core==4.2.0
SQLAlchemy==1.4.39
sqlparse==0.4.2
starlette==0.19.1
typing_extensions==4.2.0
ujson==5.2.0
unicorn==1.0.3
uritemplate==4.1.1
urllib3==1.26.9
uvicorn==0.18.2
uvloop==0.16.0
vine==5.0.0
watchfiles==0.16.1
watchgod==0.8.2
wcwidth==0.2.5
websockets==10.3
yarl==1.7.2
